<f:layout name="Plugin"/>

<f:section name="main">

	<script type="text/javascript">
		var itemcount_{data.uid} = {itemcount};
		var folder_{data.uid} = '{folder}';
		var prefix_{data.uid} = '{prefix}';
		var fileExtension_{data.uid} = '{fileExtension}';
		<![CDATA[

		(function ($) {
			$(function () {
				$('.viewer_]]>{data.uid}<![CDATA[').ThreeSixty({
					totalFrames: itemcount_]]>{data.uid}<![CDATA[,
					endFrame: itemcount_]]>{data.uid}<![CDATA[,
					currentFrame: 1,
					imgList: '.threesixty_images',
					progress: '.spinner',
					imagePath: folder_]]>{data.uid}<![CDATA[,
					filePrefix: prefix_]]>{data.uid}<![CDATA[,
					ext: fileExtension_]]>{data.uid}<![CDATA[,
					navigation: true,
					responsive: true
				});
			});
		}(jQuery));
		]]></script>

	<div class="threesixty viewer_{data.uid}">
		<div class="spinner">
			<span>0%</span>
		</div>
		<ol class="threesixty_images"></ol>
	</div>

</f:section>
