<f:layout name="Plugin"/>

<f:section name="main">

	<script type="text/javascript">
		<![CDATA[
		(function ($) {
			]]>
			var itemcount = {itemcount};
			var folder = '{folder}';
			var prefix = '{prefix}';
			var fileExtension = '{fileExtension}';
			var viewer;
			<![CDATA[
			$(function () {
				var viewerElement = $('.viewer_]]>{data.uid}<![CDATA[');
				var initializeViewer = function(){
					viewer = viewerElement.ThreeSixty({
						totalFrames: itemcount,
						endFrame: itemcount,
						currentFrame: 1,
						imgList: '.threesixty_images',
						progress: '.spinner',
						imagePath: folder,
						filePrefix: prefix,
						ext: fileExtension,
						navigation: true,
						responsive: true
					});
				};
				var reInitializeViewer = function() {
					viewer.responsive();
				};
				if ($().deferredInitialization) {
					viewerElement.deferredInitialization(initializeViewer, reInitializeViewer);
				} else {
					initializeViewer();
				}
			});
		}(jQuery));
		]]>
	</script>

	<div class="threesixty viewer_{data.uid}">
		<div class="spinner">
			<span>0%</span>
		</div>
		<ol class="threesixty_images"></ol>
	</div>

</f:section>
